/* Banner Styles */
.banner {
    padding: 0;
}

.banner-img {
    width: 100%;
    height: auto;
}

/* Custom Carousel Controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
}

/* Carousel Caption */
.carousel-caption h3 {
    font-size: 2rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1.2rem;
}

/* Make images responsive */
.carousel-inner img {
    max-height: 500px;
    /* Set a max height for the images */
    object-fit: cover;
}